html body #MAIN {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Jost', sans-serif;
  color: #171A1F;
  background-color: #D9D4C5;
}

#MAIN {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.5vw;
  margin-right: 1.5vw;

  word-spacing: .5vw;
}

#websitename {
  font-size: 2.2vw;
  letter-spacing: .4vw;
}

#tabs {
  margin-top: 6px;
}

.tab {
  font-size: 1vw;
  letter-spacing: .08vw;
}

a {
  color: #171A1F
}

.tab:hover {
  color: #BFB8B0;
}

.tab:link {
  text-decoration: none;
}

#active {
  padding-bottom: 4px;
  border-bottom: 1px solid #171A1F;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  letter-spacing: .4px;
  line-height: 24px;

  margin-top: 40px;
  margin-left: 22vw;
  margin-right: 22vw;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.phighlight {
  font-size: 28px;
  line-height: 32px;
  margin-left: 8vw;
  margin-right: 8vw;
}

.emdash {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#credit {
  margin-top: 12px;
  margin-bottom: 64px;
}

#footer {
  display: flex;
  justify-content: center;
  font-size: 1vw;
  letter-spacing: .08vw;

  border-top: 1px solid #171A1F;
  padding-top: 10px;
  padding-bottom: 2px;
}
